@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

body {
    font-family: 'Bubblegum Sans', cursive;
    margin:0;
    width:100%;
    text-align: center;
}

/*****Header*****/
.big-heading {
    font-size:3.5rem;
}

.hr {
    border:1px solid black;
}


/*****Main*****/
.choice-text {
    font-size:2.5rem;
    margin: 50px 0 40px;
}

.score {
    display:flex;
    justify-content: center;
}

.player-score-container {
    margin-right:150px;
}

.player-icon {
    visibility:hidden;
}

.computer-icon {
    visibility:hidden;
}

.active {
    visibility:visible;
}

.choices {
    margin-top:75px;
}

.choice {
    margin:0 35px;
}

.choice:hover {
    transform:scale(1.2);
    transition: 250ms;
    cursor:pointer;
}


/*****Responsive Layout*****/  
@media(max-width:700px) {
    .big-heading {
        font-size:2.5rem;
    }
    
    .choice-text {
        font-size:1.5rem;
    }

    .fa-5x:before {
        font-size:60px;
    }

    .player-score-container {
        margin-right:100px;
    }

    .choice {
        margin:0 20px;
    }
}